telethon>=1.33.1
pyrogram>=2.0.106
tgcrypto
py-tgcalls>=1.2.9
ntgcalls>=1.1.2
aiohttp>=3.9.3
httpx>=0.25.2
aiofiles
apscheduler
gTTS
dnspython>=2.3.0
hachoir
heroku3
motor
pillow>=9.5.0
psutil
qrcode
search_engine_parser
speedtest-cli
MukeshAPI
gitpython
python-dotenv
pyyaml>=6.0.1
telegraph>=2.2.0
yt-dlp
lexica-api>=1.4.7
lyricsgenius>=3.0.1
spotipy
youtube_search
youtube-search-python
googlesearch-python
unidecode
gpytranslate
py-yt-search>=0.6.2
git+https://github.com/AsmSafone/SafoneAPI
https://github.com/KurimuzonAkuma/kurigram/archive/v2.1.23.zip